In [6]:
import os

os.listdir("Project-statistical-eval")

['statistics',
 'output_1_5_csv',
 'prompts.txt',
 'text_analysis.py',
 'proportions1.5',
 'generate_danish_words.py',
 'danish_words.txt',
 'output',
 'images1.5',
 'text-cleaner.py',
 'README.md',
 'output_csv',
 'new_text_cleaner.py',
 'proportions2.0',
 'reading_prompts.py',
 '.gitignore',
 'images2.0',
 'prompts',
 'output_1_5',
 'AMining.py',
 '.git']

In [7]:
os.listdir("Project-statistical-eval/proportions1.5")

['MULTIPLE_1.5_proportions.csv',
 'STEM_1.5_proportions.csv',
 'RIDDLES_1.5_proportions.csv',
 'CREATIVE PROMPTS_1.5_proportions.csv',
 'NON_1.5_proportions.csv',
 'FAQ_1.5_proportions.csv']

In [8]:
import pandas as pd

df = pd.read_csv("Project-statistical-eval/proportions1.5/STEM_1.5_proportions.csv")
df.head()

,filename,total_words,english_only,danish_only,ambiguous,neither,prop_english_only,prop_danish_only,prop_ambiguous,prop_neither
0,output_STEM_20250611_130201_1.txt,272,0,173,83,16.0,0.000000,0.636029,0.305147,0.058824
1,output_STEM_20250611_130211_2.txt,294,0,204,79,11.0,0.000000,0.693878,0.268707,0.037415
2,output_STEM_20250611_130221_3.txt,311,2,212,85,12.0,0.006431,0.681672,0.273312,0.038585
3,output_STEM_20250611_130231_4.txt,308,0,196,103,9.0,0.000000,0.636364,0.334416,0.029221
4,output_STEM_20250611_130241_5.txt,303,0,205,96,2.0,0.000000,0.676568,0.316832,0.006601

In [10]:
df["total_words"] = pd.to_numeric(df["total_words"], errors="coerce")
df["english_only"] = pd.to_numeric(df["english_only"], errors="coerce")

In [11]:
df[["total_words", "english_only"]].dtypes

total_words     float64
english_only    float64
dtype: object

In [13]:
df_clean = df[["total_words", "english_only"]].dropna()

In [14]:
from scipy.stats import pearsonr, spearmanr

pearson_r, pearson_p = pearsonr(df_clean["total_words"], df_clean["english_only"])
spearman_r, spearman_p = spearmanr(df_clean["total_words"], df_clean["english_only"])

print(f"ðŸ“Š Pearson correlation: r = {pearson_r:.4f}, p = {pearson_p:.4f}")
print(f"ðŸ“ˆ Spearman correlation: r = {spearman_r:.4f}, p = {spearman_p:.4f}")

ðŸ“Š Pearson correlation: r = 0.0026, p = 0.9757
ðŸ“ˆ Spearman correlation: r = -0.0998, p = 0.2494

In [15]:
import pandas as pd
from scipy.stats import pearsonr
import matplotlib.pyplot as plt
import os

# categories
categories = ["STEM", "FAQ", "RIDDLES", "CREATIVE PROMPTS", "MULTIPLE", "NON"]

# results
results = []

# processing
for cat in categories:
    path = f"Project-statistical-eval/proportions1.5/{cat}_1.5_proportions.csv"
    if os.path.exists(path):
        df = pd.read_csv(path)
        df["total_words"] = pd.to_numeric(df["total_words"], errors="coerce")
        df["english_only"] = pd.to_numeric(df["english_only"], errors="coerce")
        df_clean = df[["total_words", "english_only"]].dropna()

        if not df_clean.empty:
            pearson_r, pearson_p = pearsonr(df_clean["total_words"], df_clean["english_only"])
            results.append({"Category": cat, "Pearson r": round(pearson_r, 4), "p-value": round(pearson_p, 4)})

            # save the graph
            plt.figure()
            plt.scatter(df_clean["total_words"], df_clean["english_only"], alpha=0.6)
            plt.xlabel("Total Words")
            plt.ylabel("English-Only Words")
            plt.title(f"{cat} â€” Prompt Length vs English Usage")
            plt.grid(True)
            plt.savefig(f"{cat}_scatter.png")
            plt.close()

In [16]:
result_df = pd.DataFrame(results)
result_df

           Category  Pearson r  p-value
0              STEM     0.0026   0.9757
1               FAQ    -0.0009   0.9858
2           RIDDLES     0.1749   0.0008
3  CREATIVE PROMPTS    -0.0136   0.7798
4          MULTIPLE     0.1429   0.3170
5               NON    -0.0026   0.9723